p{margin-top: 0; padding-top: 0; padding-bottom: 0; margin-bottom: 0;}
div.title
{
	font-family: "Arial Black";
	font-variant: small-caps;
	font-size: 120%;
}

div.problems
{
	padding: 0px 0px 0px 0px;
	font-family: "Courier New";
	font-size: 180%;
	font-weight: bold;
}

.first_letter
{
	font-size: 180%;
}
.problems a{text-decoration: none;}
.problems a:link { color: black; }
.problems a:visited{ text-decoration: none;}

.footer
{

}